@charset "UTF-8";
.content-section .container {background-color: lightgray; padding-top:15px; padding-bottom:15px; margin-bottom:15px;}
.bd { border-width: 0.2rem; color:black;}
/* section .general-information { background-color: green; padding: 10px;}
section .dx-information { background-color: gainsboro; padding: 10px; margin-top:5px;}
.discharge-information {} */

.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: 0.1rem !important;
    left: -2rem !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.custom-control-lg .custom-control-label {
    margin-left: 0.5rem !important;
    font-size: 1rem !important;
}

@font-face {
    font-family: 'Pyidaungsu';
    src: url('fonts/Pyidaungsu.eot');
    src: url('fonts/Pyidaungsu.eot?#iefix') format('embedded-opentype'),
        url('fonts/Pyidaungsu.woff2') format('woff2'),
        url('fonts/Pyidaungsu.woff') format('woff'),
        url('fonts/Pyidaungsu.ttf') format('truetype'),
        url('fonts/Pyidaungsu.svg#Pyidaungsu') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}